/**
 * SendMeJokes (http://www.sendmejokes.com/)
 *
 */
body {
   font-family: 'Open Sans', Roboto;
   color: #404040;
   font-weight: 300;
}

/*******************************************************************
* ---remove outline after clicking something---
*******************************************************************/
a,
a:hover,
a:active,
a:focus,
object,
embed,
button {
   outline: 0 !important;
}
input::-moz-focus-inner { 
    border: 0; 
}

/*******************************************************************
* ---HELPER CLASSES---
*******************************************************************/
.bold {
    font-weight: bold;
}
.offset-nav {
    padding-top: 69px !important;
}
.fixed-position {
    position: fixed !important;
}
.text-blurred {
    color: transparent !important;
    text-shadow: rgba(51, 51, 51, 0.95) 0px 0px 10px !important;
}
.highlight {
    color: #2196f3;
    font-weight: 900;
}
.no-padding {
    padding: 0;
}
.full-height {
    height: 100%;
}
.light {
    color: #fff;
}
.dark-primary {
    color: #212121;
}
.dark-secondary {
    color: #2196f3;
}
.middle-align-out {
    position: relative;
    height: 100%;
}
    .middle-align-out .middle-align-in {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
.no-select {
    cursor: default;
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}
.xlg-font {
    font-size: 74px;
}
.lg-font {
    font-size: 40px;
}
.md-font {
    font-size: 24px;
}
.sm-font {
    font-size: 18px;
}

/*******************************************************************
* ---ANCHORS---
*******************************************************************/
a {
    color: #2196f3;
}
a:hover,
a:focus {
    color: #2196f3;
}
/************************************************
* ---HELPER - FLASH TEXT COLOR---
************************************************/
.flash-green {
    -webkit-animation: flashGreen 2s ease-out;
       -moz-animation: flashGreen 2s ease-out;
        -ms-animation: flashGreen 2s ease-out;
            animation: flashGreen 2s ease-out;
    -webkit-animation-iteration-count: 1;
       -moz-animation-iteration-count: 1;
        -ms-animation-iteration-count: 1;
            animation-iteration-count: 1;
}
@-webkit-keyframes flashGreen {
    0% { 
        color: inherit; 
    }
    30% { 
        color: #4caf50; 
    }        
    100% {
        color: inherit;
    }
}
@-moz-keyframes flashGreen {
    0% { 
        color: inherit; 
    }
    30% { 
        color: #4caf50; 
    }        
    100% {
        color: inherit;
    }
}
@-ms-keyframes flashGreen {
    0% { 
        color: inherit; 
    }
    30% { 
        color: #4caf50; 
    }        
    100% {
        color: inherit;
    }
}
@keyframes flashGreen {
    0% { 
        color: inherit; 
    }
    30% { 
        color: #4caf50; 
    }        
    100% {
        color: inherit;
    }
}
.flash-red {
    -webkit-animation: flashRed 2s ease-out;
       -moz-animation: flashRed 2s ease-out;
        -ms-animation: flashRed 2s ease-out;
            animation: flashRed 2s ease-out;
    -webkit-animation-iteration-count: 1;
       -moz-animation-iteration-count: 1;
        -ms-animation-iteration-count: 1;
            animation-iteration-count: 1;
}
@-webkit-keyframes flashRed {
    0% { 
        color: inherit; 
    }
    30% { 
        color: #f44336; 
    }        
    100% {
        color: inherit;
    }
}
@-moz-keyframes flashRed {
    0% { 
        color: inherit; 
    }
    30% { 
        color: #f44336; 
    }        
    100% {
        color: inherit;
    }
}
@-ms-keyframes flashRed {
    0% { 
        color: inherit; 
    }
    30% { 
        color: #f44336; 
    }        
    100% {
        color: inherit;
    }
}
@keyframes flashRed {
    0% { 
        color: inherit; 
    }
    30% { 
        color: #f44336; 
    }        
    100% {
        color: inherit;
    }
}

/*******************************************************************
* ---CHECKBOX TILES---
*******************************************************************/
.checkbox-tile-table {
    width: 100%;
}
.checkbox-tile-row {
    height: 100px;
}
.checkbox-tile {
    background-clip: padding-box !important;
    border: 2px solid #333;
    width: 25%;
    height: 100px;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
       -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
         -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}
.checkbox-tile.checkbox-day {
    width: 14.28%;
}
.checkbox-tile:hover {
    background-color: #f5f5f5;
    color: #333;
}
@media (max-width: 400px) {
    .checkbox-tile {
        font-size: 10px;
        height: 50px;
    }
    .checkbox-tile-row {
        height: 50px;
    }
}
    .checkbox-tile .checkbox-tile-hidden {
        display: none;
    }
.checkbox-tile.checked {
    color: #fff;
    background: #4caf50 url('/img/fa-check-transparency.png') no-repeat 50% 50%;
    background-size: 50%;
}
.checkbox-tile.exclude {
    color: #fff;
    background: #f44336 url('/img/fa-times-transparency.png') no-repeat 50% 50%;
    background-size: 50%;
}
.checkbox-day .checkbox-tile-label {
    font-size: 12px;
}

/*******************************************************************
* ---BOOTSTRAP PANELS---
*******************************************************************/
.panel-group .panel {
    border-radius: 0;
}
.panel {
    color: #333;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
            box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}
.panel-heading {
    border-bottom: 1px solid #212121;
}
.panel-footer {
    background-color: #f5f5f5;
    border-radius: 0;
    border-top: 1px solid #212121;
}
@media (max-width: 767px) {
    .panel-heading h2 {
        font-size: 24px;
    }
}
.panel-default > .panel-heading {
}
.panel-primary > .panel-heading {
    background-image: -webkit-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
    background-image:      -o-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#2e6da4));
    background-image:         linear-gradient(to bottom, #337ab7 0%, #2e6da4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0);
    background-repeat: repeat-x;
}
.panel-success > .panel-heading {
    background-image: -webkit-linear-gradient(top, #dff0d8 0%, #d0e9c6 100%);
    background-image:      -o-linear-gradient(top, #dff0d8 0%, #d0e9c6 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dff0d8), to(#d0e9c6));
    background-image:         linear-gradient(to bottom, #dff0d8 0%, #d0e9c6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffd0e9c6', GradientType=0);
    background-repeat: repeat-x;
}
.panel-info > .panel-heading {
    background-image: -webkit-linear-gradient(top, #d9edf7 0%, #c4e3f3 100%);
    background-image:      -o-linear-gradient(top, #d9edf7 0%, #c4e3f3 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d9edf7), to(#c4e3f3));
    background-image:         linear-gradient(to bottom, #d9edf7 0%, #c4e3f3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffc4e3f3', GradientType=0);
    background-repeat: repeat-x;
}
.panel-warning > .panel-heading {
    background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #faf2cc 100%);
    background-image:      -o-linear-gradient(top, #fcf8e3 0%, #faf2cc 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fcf8e3), to(#faf2cc));
    background-image:         linear-gradient(to bottom, #fcf8e3 0%, #faf2cc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fffaf2cc', GradientType=0);
    background-repeat: repeat-x;
}
.panel-danger > .panel-heading {
    background-image: -webkit-linear-gradient(top, #f2dede 0%, #ebcccc 100%);
    background-image:      -o-linear-gradient(top, #f2dede 0%, #ebcccc 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f2dede), to(#ebcccc));
    background-image:         linear-gradient(to bottom, #f2dede 0%, #ebcccc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffebcccc', GradientType=0);
    background-repeat: repeat-x;
}

/*******************************************************************
* ---BOOTSTRAP FORMS---
*******************************************************************/
.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #333;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.form-control:focus {
    border: 1px solid #333;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.6);
    outline: 0 none;
}
label {
    font-weight: 400;
}
.input-group .input-group-addon {
    border-radius: 0;
    background-color: #f5f5f5;
    border: 1px solid #333;
    border-right: 0;
}
    .input-group .input-group-addon i {
        color: #333 !important;
    }

/*******************************************************************
* ---BOOTSTRAP MODALS---
*******************************************************************/
.modal {
    z-index: 5000 !important;
}
    .modal .modal-content {
        border-radius: 0;
        background-color: #fff;
    }
        .modal .modal-content .modal-header {
            border-bottom: 5px solid #2196f3;
            background-color: #212121;
        }
            .modal .modal-content .modal-header .modal-title {
                text-align: center;
                color: #fff;
                font-weight: bold;
            }
        .modal .modal-content .modal-footer {
            border-top: 1px solid #333;
            background-color: #f5f5f5;
        }
    .modal .modal-alert {
        text-align: center;
        font-weight: bold;
        width: 100%;
        display: none;
        color: #f44336;
        padding-top: 10px;
    }
    .modal .forgot-password-link,
    .modal .need-account-link {
        font-size: 12px;
        color: #2196f3;
        display: table;
    }
#alert-modal .modal-body {
    text-align: center;
}

/*******************************************************************
* ---BOOTSTRAP BUTTONS---
*******************************************************************/
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
    border: 1px solid #333;
    border-radius: 0;
    -webkit-transition: all 0.2s ease;
       -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
         -o-transition: all 0.2s ease;
            transition: all 0.2s ease;

}
.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active,
.btn-default.active,
.btn-primary.active,
.btn-success.active,
.btn-info.active,
.btn-warning.active,
.btn-danger.active {

}
.btn-default.disabled,
.btn-primary.disabled,
.btn-success.disabled,
.btn-info.disabled,
.btn-warning.disabled,
.btn-danger.disabled,
.btn-default[disabled],
.btn-primary[disabled],
.btn-success[disabled],
.btn-info[disabled],
.btn-warning[disabled],
.btn-danger[disabled],
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-info,
fieldset[disabled] .btn-warning,
fieldset[disabled] .btn-danger {

}
.btn-default .badge,
.btn-primary .badge,
.btn-success .badge,
.btn-info .badge,
.btn-warning .badge,
.btn-danger .badge {

}
.btn:active,
.btn.active {
    background-image: none;
}

/* -- btn-default -- */
.btn-default {
    background-color: #2196f3;
}
.btn-default i {
    color: #fff;
}
.btn-default:hover,
.btn-default:focus {
    background-color: #333;
    border-color: #2196f3;
}
.btn-default:active,
.btn-default.active,
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default.focus:active,
.btn-default:active:focus,
.btn-default:active:hover,
.open > .dropdown-toggle.btn-default.focus,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default:hover {
    background-color: #222;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    background-color: #9e9e9e;
}

/* -- btn-primary -- */
.btn-primary {
    background-color: #333;
}
.btn-primary i {
    color: #fff;
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: #2196f3;
}
.btn-primary:active,
.btn-primary.active,
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary.focus:active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover {
    background-color: #0d47a1;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #9e9e9e;
}

/* -- btn-success -- */
.btn-success {
    background-color: #333;
}
.btn-success i {
    color: #fff;
}
.btn-success:hover,
.btn-success:focus {
    background-color: #4caf50;
}
.btn-success:active,
.btn-success.active,
.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success.focus:active,
.btn-success:active:focus,
.btn-success:active:hover,
.open > .dropdown-toggle.btn-success.focus,
.open > .dropdown-toggle.btn-success:focus,
.open > .dropdown-toggle.btn-success:hover {
    background-color: #1b5e20;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
    background-color: #9e9e9e;
}

/* -- btn-danger -- */
.btn-danger {
    background-color: #fff;
    color: #333;
}
.btn-danger i {
    color: #333;
}
.btn-danger:hover,
.btn-danger:focus {
    background-color: #f44336;
    color: #fff;
}
.btn-danger:active,
.btn-danger.active,
.btn-danger.active.focus,
.btn-danger.active:focus,
.btn-danger.active:hover,
.btn-danger.focus:active,
.btn-danger:active:focus,
.btn-danger:active:hover,
.open > .dropdown-toggle.btn-danger.focus,
.open > .dropdown-toggle.btn-danger:focus,
.open > .dropdown-toggle.btn-danger:hover {
    background-color: #b71c1c;
    color: #fff;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
    background-color: #9e9e9e;
    color: #fff;
}

/*******************************************************************
* ---BOOTSTRAP thumbnail---
*******************************************************************/
.thumbnail,
.img-thumbnail {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
                    box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
}

/*******************************************************************
* ---CUSTOM NAVBAR---
*******************************************************************/
.main-nav {
    position: fixed;
    width: 100%;
    height: 69px;
    background-color: #333;
    z-index: 999;
    border-bottom: 5px solid #2196f3;
}

/*******************************************************************
* ---BOOTSTRAP NAVBAR---
*******************************************************************/
.navbar-default {
    background-image: -webkit-linear-gradient(top, #fff 0%, #f8f8f8 100%);
    background-image:      -o-linear-gradient(top, #fff 0%, #f8f8f8 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f8f8f8));
    background-image:         linear-gradient(to bottom, #fff 0%, #f8f8f8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
                    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a {
    background-image: -webkit-linear-gradient(top, #dbdbdb 0%, #e2e2e2 100%);
    background-image:      -o-linear-gradient(top, #dbdbdb 0%, #e2e2e2 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), to(#e2e2e2));
    background-image:         linear-gradient(to bottom, #dbdbdb 0%, #e2e2e2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbdbdb', endColorstr='#ffe2e2e2', GradientType=0);
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
                    box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
}
.navbar-brand,
.navbar-nav > li > a {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
}
.navbar-inverse {
    background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222 100%);
    background-image:      -o-linear-gradient(top, #3c3c3c 0%, #222 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#222));
    background-image:         linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-radius: 4px;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .active > a {
    background-image: -webkit-linear-gradient(top, #080808 0%, #0f0f0f 100%);
    background-image:      -o-linear-gradient(top, #080808 0%, #0f0f0f 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#080808), to(#0f0f0f));
    background-image:         linear-gradient(to bottom, #080808 0%, #0f0f0f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff080808', endColorstr='#ff0f0f0f', GradientType=0);
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .25);
                    box-shadow: inset 0 3px 9px rgba(0, 0, 0, .25);
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
}
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
    border-radius: 0;
}

/*******************************************************************
* ---BOOTSTRAP ALERT---
*******************************************************************/
.alert {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);
                    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);
}
.alert-success {
    background-image: -webkit-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
    background-image:      -o-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dff0d8), to(#c8e5bc));
    background-image:         linear-gradient(to bottom, #dff0d8 0%, #c8e5bc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
    background-repeat: repeat-x;
    border-color: #b2dba1;
}
.alert-info {
    background-image: -webkit-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
    background-image:      -o-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d9edf7), to(#b9def0));
    background-image:         linear-gradient(to bottom, #d9edf7 0%, #b9def0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
    background-repeat: repeat-x;
    border-color: #9acfea;
}
.alert-warning {
    background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
    background-image:      -o-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fcf8e3), to(#f8efc0));
    background-image:         linear-gradient(to bottom, #fcf8e3 0%, #f8efc0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
    background-repeat: repeat-x;
    border-color: #f5e79e;
}
.alert-danger {
    background-image: -webkit-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
    background-image:      -o-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f2dede), to(#e7c3c3));
    background-image:         linear-gradient(to bottom, #f2dede 0%, #e7c3c3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
    background-repeat: repeat-x;
    border-color: #dca7a7;
}

/*******************************************************************
* ---BOOTSTRAP PROGRESS BAR---
*******************************************************************/
.progress {
    background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
    background-image:      -o-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#f5f5f5));
    background-image:         linear-gradient(to bottom, #ebebeb 0%, #f5f5f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
    background-repeat: repeat-x;
}
.progress-bar {
    background-image: -webkit-linear-gradient(top, #337ab7 0%, #286090 100%);
    background-image:      -o-linear-gradient(top, #337ab7 0%, #286090 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#286090));
    background-image:         linear-gradient(to bottom, #337ab7 0%, #286090 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff286090', GradientType=0);
    background-repeat: repeat-x;
}
.progress-bar-success {
    background-image: -webkit-linear-gradient(top, #5cb85c 0%, #449d44 100%);
    background-image:      -o-linear-gradient(top, #5cb85c 0%, #449d44 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5cb85c), to(#449d44));
    background-image:         linear-gradient(to bottom, #5cb85c 0%, #449d44 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
    background-repeat: repeat-x;
}
.progress-bar-info {
    background-image: -webkit-linear-gradient(top, #5bc0de 0%, #31b0d5 100%);
    background-image:      -o-linear-gradient(top, #5bc0de 0%, #31b0d5 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5bc0de), to(#31b0d5));
    background-image:         linear-gradient(to bottom, #5bc0de 0%, #31b0d5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff31b0d5', GradientType=0);
    background-repeat: repeat-x;
}
.progress-bar-warning {
    background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #ec971f 100%);
    background-image:      -o-linear-gradient(top, #f0ad4e 0%, #ec971f 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f0ad4e), to(#ec971f));
    background-image:         linear-gradient(to bottom, #f0ad4e 0%, #ec971f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffec971f', GradientType=0);
    background-repeat: repeat-x;
}
.progress-bar-danger {
    background-image: -webkit-linear-gradient(top, #d9534f 0%, #c9302c 100%);
    background-image:      -o-linear-gradient(top, #d9534f 0%, #c9302c 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d9534f), to(#c9302c));
    background-image:         linear-gradient(to bottom, #d9534f 0%, #c9302c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc9302c', GradientType=0);
    background-repeat: repeat-x;
}
.progress-bar-striped {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

/*******************************************************************
* ---BOOTSTRAP LIST GROUP---
*******************************************************************/
.list-group {
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
                    box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    text-shadow: 0 -1px 0 #286090;
    background-image: -webkit-linear-gradient(top, #337ab7 0%, #2b669a 100%);
    background-image:      -o-linear-gradient(top, #337ab7 0%, #2b669a 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#2b669a));
    background-image:         linear-gradient(to bottom, #337ab7 0%, #2b669a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2b669a', GradientType=0);
    background-repeat: repeat-x;
    border-color: #2b669a;
}
.list-group-item.active .badge,
.list-group-item.active:hover .badge,
.list-group-item.active:focus .badge {
    text-shadow: none;
}

/*******************************************************************
* ---BOOTSTRAP WELLS---
*******************************************************************/
.well {
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
            box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

/*******************************************************************
* ---BOOTSTRAP PAGE HEADER---
*******************************************************************/
.page-header {
    border-bottom: none;
    text-align: center;
    margin: 20px 0 10px;
}
    .page-header h1 {
        color: #333;
        margin: 0;
    }

.large-header {
    font-size: 100px;
}

h1 small {
    color: #5a5d6b;
}

/*******************************************************************
* ---BOOTSTRAP PAGE FOOTER---
*******************************************************************/
.page-footer {
    border-top: none;
    padding-top: 9px;
    margin-top: 0;
    text-align: center;
    min-height: 60px;
}
    .page-footer #joke-loader {
        font-size: 28px;
        color: #fff;
    }

/*******************************************************************
* ---BOOTSTRAP POPOVER---
*******************************************************************/
.popover {
    border: none;
    box-shadow: 0px 0px 8px 0px #333;
    border-radius: 0;
    background-color: #6c48a2;
    color: #fff;
    text-align: center;
    min-width: 58px;
}
    .popover .popover-title {
        background-color: #473168;
        color: #fff;
        border-radius: 0;
    }
    .popover.right > .arrow::after {
        border-right-color: #6c48a2;
    }
    .popover i {
    }
    .popover .popover-content {
        padding: 8px;
    }
        .popover .popover-content i {
            padding-right: 6px;
        }
/*******************************************************************
* ---ICONS---
*******************************************************************/
.fa {
    color: #404040;
}
.fa-link-out {
    color: #3a5795;
}
.fa-link-out2 {
    color: #db4437;
}
.fa-envelope {
    color: #2196f3;
}
.fa-external-link-square {
    color: #6fb43f;
}
.fa.fa-thumbs-up {
    color: #4caf50;
}
.fa.fa-thumbs-down {
    color: #f44336;
}
.fa-cog.fa-spin {
    animation: 6s linear 0s normal none infinite running fa-spin;
}
.fa-spinner {
    color: #2196f3;
}