/**
 * SendMeJokes (http://www.sendmejokes.com/)
 *
 */
html, body {
    /*
    background: url(images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    */
    background-color: #6c48a2;
    height: 100%;
}

/************************************************
* ---LAYOUT - sidebar--
************************************************/
.sidebar {
    float: right;
    height: 100%;
    background-color: #473168;
    position: fixed;
    right: 0;
    width: 0px;
    z-index: 900;
    -webkit-box-shadow: 0 0 30px 1px #333;
            box-shadow: 0 0 30px 1px #333;
    -webkit-transition: all 0.6s ease;
       -moz-transition: all 0.6s ease;
        -ms-transition: all 0.6s ease;
         -o-transition: all 0.6s ease;
            transition: all 0.6s ease;
}
    .sidebar.sidebar-open {
        width: 300px;
        max-width: 100%;
        opacity: 100;
    }
    .sidebar .sidebar-head {
        width: 300px;
        position: fixed;
        color: #f9f7da;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
        opacity: 100;
        padding: 26px;
        height: 170px; /* 170px with search bar, 118px without */
        -webkit-transition: all 0.6s ease;
           -moz-transition: all 0.6s ease;
            -ms-transition: all 0.6s ease;
             -o-transition: all 0.6s ease;
                transition: all 0.6s ease;
    }
            .sidebar .sidebar-head .username {
                font-size: 22px;
            }
            .sidebar .sidebar-head .user-option {
                font-size: 12px;
                display: block;
                color: #f9f7da;
            }
            .sidebar .sidebar-head .sign-in-link {
                color: #f9f7da;
                font-size: 24px;
                line-height: 66px;
            }
            #search-form {
                margin-top: 15px;
            }
        .sidebar .sidebar-head.sidebar-head-hidden {
            opacity: 0;
        }
    .sidebar .list-group {
        margin-top: 170px; /* 170px with search bar, 118px without */
        position: fixed;
        height: calc(100% - 118px);
        width: 100%;
        overflow: auto;
        border-radius: 0;
        border-top: 1px solid #f9f7da;
    }
        .sidebar .list-group .list-group-item {
            background-color: rgba(0, 0, 0, 0);
            border-radius: 0;
            border-left: none;
            border-right: none;
            border-color: #f9f7da;
            padding: 15px 30px;
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
            cursor: pointer;
            font-size: 20px;
            color: #f9f7da;
            -webkit-transition: all 0.15s ease;
               -moz-transition: all 0.15s ease;
                -ms-transition: all 0.15s ease;
                 -o-transition: all 0.15s ease;
                    transition: all 0.15s ease;
        }
            .sidebar .list-group .list-group-item:first-child {
                border-top: none;
            }
        .sidebar .list-group .list-group-item:hover {
            background-color: #f9f7da;
            color: #333;
        }
/* keeps transformicon in place when scrolling */
.icon-open {
    position: fixed;
    right: 0;
}

@media (max-width: 768px) { 
    .sidebar.sidebar-open {
        width: 100%;
    }
    .sidebar .sidebar-head {
        width: 100%;
        text-align: center;
    }
}

/************************************************
* ---LAYOUT - logo & menu button--
************************************************/
.logo-anchor {
    float: left;
    position: absolute;
    z-index: 500;
    margin-left: 15px;
}
    .logo-anchor .logo-img {
        padding: 15px 0;
        height: 118px;
        width: auto;
    }

.browse-button {
    float: right;
    margin-top: 10px;
    position: absolute;
    right: 0;
    z-index: 1000;
}

/*******************************************************************
* ---RESET PASSWORD FORM---
*******************************************************************/
.reset-pass.middle-align-out {
    min-height: 587px;
}
    .reset-pass.middle-align-out .middle-align-in {
        width: 100%;
        max-width: 320px;
    }


/*******************************************************************
* ---HOME---
*******************************************************************/
.home.middle-align-out {
    min-height: 430px;
}
    .home.middle-align-out .middle-align-in {
        width: 100%;
        max-width: 320px;
    }

.home .btn-primary {
    width: 100%;
}

.home input.form-control {
    text-align: center;
}

.modal .category {
    border-bottom: 1px solid #6c48a2;
}

/*******************************************************************
* ---COMING-SOON---
*******************************************************************/
.logo-img {
    height: 130px;
    width: auto;
}

/*******************************************************************
* ---JOKES---
*******************************************************************/
.categoy-name-joke-view {
    margin-left: 5px;
}

#joke-accordian .panel .panel-heading {
    padding: 0;
}
    #joke-accordian .panel .panel-heading a {
        text-decoration: none;
    }
    #joke-accordian .panel .panel-heading a:hover,
    #joke-accordian .panel .panel-heading a:focus {
        text-decoration: none;
    }    
    #joke-accordian .panel .panel-heading .panel-title {
        padding: 10px 15px;
    }

.row.masonry {
    margin: 0 auto;
    font-size: 18px;
    -webkit-column-width: 300px;
       -moz-column-width: 300px;
            column-width: 300px;
    -webkit-column-gap: 18px;
       -moz-column-gap: 18px;
            column-gap: 18px;
}
    .masonry .item {
        display: inline-block;
        padding:  .25rem;
        width:  100%; 
    }
    .masonry .panel-footer {
        font-size: 20px;
        cursor: default;
    }
        .masonry .panel-footer i {
            cursor: pointer;
        }
    @media screen and (max-width: 547px) {
        .masonry .panel-footer {
            font-size: 24px;
        }
    }
.row.masonry.max-500 {
    max-width: 500px;
}
.row.masonry.max-783 {
    max-width: 783px;
}
.row.masonry.max-1049 {
    max-width: 1049px;
}
.row.masonry.max-1315 {
    max-width: 1315px;
}

#update-jokes-well {
    min-height: 224px;
}

.joke-answer {
    cursor: pointer;
    -webkit-transition: all 0.6s ease;
       -moz-transition: all 0.6s ease;
        -ms-transition: all 0.6s ease;
         -o-transition: all 0.6s ease;
            transition: all 0.6s ease;
}